<h1>{{ 'mmcore.securitySettings.change-password' | translate }}</h1>

<div class="page-info split">
  <p>{{'mmcore.securitySettings.info-text-password' | translate}}</p>
</div>

<section id="change-password" class="light-theme">
  <dl class="lnbDefinitionList">
    <dd>
      <div class="success-message" ng-show="passwordForm.$success && passwordForm.$pristine">
        {{ 'mmcore.securitySettings.password.success' | translate }}
      </div>

      <form ng-submit="setPassword(passwordForm)" name="passwordForm" novalidate="" class="form-horizontal">
				<p class="error-message" ng-if="passwordForm.error.reason && passwordForm.$pristine">
					<span>{{ 'mmcore.securitySettings.password.' + passwordForm.error.reason | translateError }}</span>
				</p>
        <div class="username">
          <label>{{ 'mmcore.securitySettings.yourUsername' | translate }}</label>
          <p><strong>{{ personalDetails.PrimaryEmail }}</strong></p>
        </div>
        <div class="field-group old-password">
          <label for="oldPassword">{{ 'mmcore.securitySettings.old-password' | translate }}</label>
          <input type="password" id="oldPassword" name="oldPassword" class="form-control"
                 ng-model="changePassword.oldPassword" autocomplete="off" required=""
                 placeholder="{{'mmcore.securitySettings.type-old-password' | translate }}">
          <p></p>
        </div>
        <div class="field-group">
          <label for="password">{{ 'mmcore.securitySettings.new-password' | translate }}</label>
          <input type="password" id="password" name="password" class="form-control"
                 ng-model="changePassword.password" autocomplete="off" required=""
                 placeholder="{{'mmcore.securitySettings.type-new-password' | translate }}">
        </div>

        <div class="field-group">
          <label for="confirmPassword">{{ 'mmcore.securitySettings.repeat-password' | translate }}</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                 ng-model="changePassword.confirmPassword" autocomplete="off" required=""
                 placeholder="{{'mmcore.securitySettings.please-repeat-password' | translate }}">
        </div>

        <div class="btns-loader-container">
          <button type="reset" class="btn btn-primary" back-button>
            {{ 'mmcore.securitySettings.cancel' | translate }}
          </button>
          <button type="submit" class="btn btn-secondary justified" data-ng-disabled="passwordForm.$invalid || !passwordForm.$dirty">
            {{ 'mmcore.securitySettings.save' | translate }}
          </button>
        </div>
      </form>
    </dd>
  </dl>
</section>

