 <div class="hero">
    <div class="container-fluid" >
        <div class="row" >
            <div font-size="20px;   "><strong>ACTIVE QUIZZES</strong></div>
            <div style="overflow:auto;float:left; height:450px;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
                
    <div style="border-radius:10px; background:#9e0b0f; color:#fff" ng-repeat="quiz in activeQuizzes" class="card">

    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <h4 class="card-title">Quiz name: {{quiz.name}}</h4>
        <!--Text-->
        <p class="card-text">Number of participants: {{quiz.maxparticipants}}</p>
       
        <p class="card-text">Start date: {{quiz.startdate | date:'yyyy-MM-dd'}}</p>
        
        <p class="card-text">End date: {{quiz.enddate | date:'yyyy-MM-dd'}}</p>
        <a ng-if="$index!==selected" style="margin-bottom:10px;margin-top:10px" ng-click="startQuiz(quiz.idquiz, $index)" class="btn btn-success">Start</a>
        <div ng-if="$index===selected">The quiz has started!</div>
    </div>
    <!--/.Card content-->

</div>
                
                
                
                
                
            </div>
        </div>
     </div>
</div>